<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Integration">
            <directory>tests/Database</directory>
            <directory>tests/Integration/UserTests</directory>
            <directory>tests/Integration/ArticleTests</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>src/Global</directory>
                <directory>src/Core</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="HOST" value="sqlite:"/>
        <env name="NAME" value=":memory:"/>
        <env name="USER" value=""/>
        <env name="PASSWORD" value=""/>
    </php>
</phpunit>
